{% extends "base.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_team.css') }}" />
{% endblock %}

{% block navbar %}
  <li><a href="/create_team">Create Team</a></li>
  <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}
  
{% block content %}  
 <body>
  
  You can create a team here. <br><br>
  <form method="POST" autocomplete="off" action="">
    Team Name: <input type="text" name="name" placeholder="Name"><br><br>
    Team Description: <br><br>
    <textarea rows="4" cols="50" name="desc"></textarea><br><br>
    <div class="autocomplete" style="width:300px;">
      <input id="user_search" type="text" name="user_search" placeholder="Search Users...">
    </div>
    <input id="search" type="submit">
     <br><br>
    Current Roster:<br><br>
    <input type="submit" value="CREATE">
  </form>

  <script src="{{ url_for('static', filename='js/create_team.js') }}" type="text/javascript"></script>
 </body>
{% endblock %}
