{% extends 'index.html' %}

{% block title %} Create Team {% endblock %}

{% block customStyle %}
{% endblock %}


{% block content %}
 <body>
  {% block navItem %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Create Team</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
  </ul>
  {% endblock %}
  
  You can create a team here. <br>
  <form action="">
    Team Name: <input type="text" name="name"><br>
    Team Description: <br>
    <textarea rows="4" cols="50" name="desc"></textarea><br>
    Search Users: <input type="text" name="member"><input type="submit"><br>
    Current Roster:<br>
    <input type="submit" value="CREATE">
  </form>
</body>
{% endblock %}
