{% extends 'base.html' %}

{% block head %}
  <style>
    svg {border: 1px solid black }
  </style>
{% endblock %}

{% block navbar %}
<li><a href="/create_team">Create Team</a></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-in"</span>  Log Out</a></li>
{% endblock %}

{% block content %}
  <h1> Create a new piece </h1>
  <form>
    Name of piece: <input type="text" name="piece_name"><br><br>
    Upload Audio:  <input type="audio" name="music"><br><br>
  </form>
  <div class="row">
    <div class="col-lg-9">
      <svg id="svg_id" xmlns="http://www.w3.org/2000/svg" width="75%" height="100%">
      </svg>
    </div>
    <div class="col-lg-3">
      <button class="btn" id="play"> Play </button>
      <button class="btn" id="formation"> + </button>
      <button class="btn" id="delete"> Delete </button>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="index.js"></script>
{% endblock %}
