{% extends "base.html" %}

{% block head %}
<title>Home</title>
<style> </style>
{% endblock %}

{% block navbar %}
	<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}
  
{% block content %}  
<div class="container">
    Welcome! This is your home page. <br>
    The button below will allow you to create a new piece. <br><br>
    <a href="/create_piece" class="btn" > View </a>

  </div>
</body>
{% endblock %}
