{% extends "base.html" %}

{% block head %}
  <title>Welcome!</title>
    .body {
        padding-top: 30px;
    }
  </style>
{% endblock %}

  {% block navbar %}
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-pencil"></span>  Sign Up</a></li>
      {% endblock %}

    {% block navbar %} 
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-pencil"></span>  Sign Up</a></li>
    {% endblock %}

    {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endfor %}
  
  {% block content %}
  <div class="body">
    <h1 class="text-center"> Welcome to Dancing Queen! </h1>
    <br>
    <h3 class="text-center">Use this website to share and view formations with the rest of your dance team.</h3> <br>
    <h4 class="text-center"><span class="glyphicon glyphicon-cloud-upload"></span> Use our easy-to-use formation system to create and post formations.</h4><br>
    <h4 class="text-center"><span class="glyphicon glyphicon-tags"></span> Neatly organize the many different teams you are in.</h4><br>
    <h4 class="text-center"><span class="glyphicon glyphicon-user"></span> Keep track of the members in your teams.</h4><br>
    <hr>
  </div>
</body>
  {% endblock %}

</html>
