<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% block head %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% block navbar %}
      {% endblock %}
    </ul>
  </div>
  </nav>
  <div id="flashed_messages">
    {% for message in get_flashed_messages() %}
          <div class="jumbotron" style="height:125px">
	<p class="lead" style="text-align:center;">{{ message }}</p>
      </div>
    {% endfor %}
  </div>
  
  {% block content %}
  {% endblock %}
  </body>
</html>
