{% extends "base.html" %}

{% block head %}
<title>Create Piece</title>
{% endblock %}

{% block navbar %}
	<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}


{% block content %}
  <div class="container">
    <h1> Create a new piece </h1>
    <form method="POST" action="/create_piece">
      <div class="form-group">
	<div class="row">
	  <div class="col-lg-3">
	    Name of piece: <input class="form-control" type="text" name="piece_name">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-lg-3">
	    Number of columns: <input class="form-control" type="text" name="columns">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-lg-3">
	    Number of rows: <input class="form-control" type="text" name="rows">
	  </div>
	</div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg" style="width:300px" value="submit">CREATE</button>
      <!---
      <div class="form-group">
	<div class="row">
	  <div class="col-lg-3">
	    Upload Audio:  <input type="file" class="custom-file-input" id="music">
	  </div>
	</div>
      </div>--->
    </form>

    <!---
	<button class="btn" id="play"> Play </button>
	<button class="btn" id="formation"> + </button>
	<button class="btn" id="delete"> Delete </button><br><br>

	<svg style="border:1px solid black"id="svg_id" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
	</svg>
  </div>

  <script src="https://d3js.org/d3.v5.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/data.json') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/formation.js') }}"></script>
name
row
column
--->
{% endblock %}
