{% extends "base.html" %}

{% block head %}
<title>Home</title>
<style>
  .body {
  padding-top: 30px;
  margin: auto;
  }
</style>
{% endblock %}

{% block navbar %}
<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}

{% block content %}
<div class="body" style="display: table">
  <h4 style="text-align:center;"><b>Create a Team</b></h4><br>
  <form action=""  method="POST">
    <div class="form-group">
      <label for="name"> Team Name: </label>
      <input type="text" name="team_name" class="form-control" id="name" style="width:300px"><br>
    </div>
    <label for="user_search"> Search Users: </label>
    <div class="autocomplete">
      <div class="row">
	<div class="col-sm-5">
	  <input id="user_search" type="text" name="user_search" placeholder="Search Users..." style="width:150px;" class="form-control" autocomplete="off">
	</div>
	<div class="col-sm-5">
	  <button type="button" class="btn btn-primary" style="width:150px"  id="search" >Add Member</button>
	  </div>
      </div>
    </div><br><br>
	<b>Current Roster:<b><br>
	<textarea name="members" id="thelist" rows="10">
	</textarea> <br><br>
	<button type="submit" class="btn btn-primary btn-lg" style="width:300px; margin-bottom:2rem" >CREATE</button>

  </form>
</div>
<script type="text/javascript" src="/create_team.js"> </script>
<!-- <script src="{{ url_for('static', filename='js/create_team.js') }}" type="text/javascript"> </script> -->
{% endblock %}
