{% extends "base.html" %}

<!-- needs list of team names {{teams}} passed by root()-->

{% block head %}
<title>Home</title>
<style>
    .body {
        padding-top: 30px;
    }
  </style>
{% endblock %}

{% block navbar %}
	<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}
  
{% block content %}  
	<h3 class="text-center"> Welcome! </h3>
	<div class="body" style="margin: 0 5em;">
	  <div class="text-center">
	    <table class="table">
	      <thead>
		<tr>
		  <th scope="col">Below is a list of all the teams you are in.</th>
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  <td>Example name</td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>
{% endblock %}
