{% extends "base.html" %}

{% block head %}
<title>Pieces</title>
{% endblock %}

{% block navbar %}
	<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}

{% block content %}
	<div class="body" style="margin:0 5em;">
	<h1 class="text-center">Welcome user! This is the page for {{ team_name }}</h1>. <br><br>
	<form method="POST" action="/create_piece">
	  <button type="submit" class="btn btn-primary btn-block" name="team_id" value="{{team_id}}">Create New Piece</button>
	</form><br><br>
	<h4 class="text-center">The buttons below will allow you to view each piece for this team.</h4> <br>
	<form method="POST" action="/view_piece">
	  {% for piece in pieces %}
	  <button class="btn btn-info" type="submit" name="p" value="{{ piece.id }}"> {{piece.name}} </button>
	  {% endfor %}
	</form>
	</div>
{% endblock %}
