{% extends "base.html" %}

{% block head %}
<title>Sign up</title>
  <style>
    .body {
        padding-top: 70px;
        margin: auto;
    }
    #box {
    border-radius: 25px;
    background: #F77373;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    }
  </style>
{% endblock %}

  {% block navbar %}
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-pencil"></span>  Sign Up</a></li>
      {% endblock %}

      {% block content %}
      <div class="body" style="display: table">
	<div id="box">
	  <h4 style="text-align:center"><b>Sign In<b></h4> <br>
	  <form method="POST" action="">
	    <div class="form-group">
	      <label for="user"> Username: </label>
	      <input type="text" class="form-control" id="user" style="width:300px" name="username" >
	    </div>
	    <br>

	    <!--
	    <div class="form-group">
	      <label for="name"> Full Name: </label>
	      <input type="text" class="form-control" id="name" style="width:300px" name="fullname">
	    </div>
	    <br>
	    -->
	    
	    <div class="form-group">
	      <label for="pass"> Password: </label>
	      <input type="password" class="form-control" id="pass" style="width:300px" name="password">
	    </div>
	    <br>
	    <button type="Submit" name="Submit" class="btn btn-primary btn-lg" style="width:300px" value="SIGN UP">SIGN UP</button>
	  </form>
	</div>
      </div>
      {% endblock %}
