{% extends "base.html" %}

{% block head %}
<title>View Piece</title>
{% endblock %}

{% block navbar %}
<li><a href="/create_team"><span class="glyphicon glyphicon-file"></span> Create Team</a></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <button class="btn btn-primary" id="play"> Play </button>
  <button class="btn btn-primary" id="add_formation"> + </button>
  <button class="btn btn-primary" id="delete"> Delete </button> <br><br>
  <input type="text" id="name" placeholder="Name">
  <input type="text" id="tag" placeholder="Notes">
  <button class="btn btn-primary" id="create"> Create Circle </button> <br><br>
  <button class="btn btn-primary" id="del_circle"> Delete Circle </button> <br><br>
  <svg id="svg_id" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid black">
  </svg>
</div>
<script src="{{ url_for('static', filename='js/formation.js') }}" type="text/javascript"> </script>
{% endblock %}
